@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
/* home allign  */

.home-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  background-color: #404040;
  height: 100vh;
  background-image: url(/Users/keshavmalik/Desktop/Projects/Portfolio/keshav/src/Components/Images/background.jpg);
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.info{
  background-color: #242323;
  color: white;
  width: 800px;
  height: 540px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.gif{
  margin-right: 90px;
}

.gif img{
  width: 120%;
  border-radius: 10px;
}

/* info box  */

.head{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.head-pic img{
  width: 120px;
  margin-left: 10;
  align-items: flex-start;
}

.head-name{
  line-height: 10px;
  margin: 0px 30px;
}

.head-name h1{
  color: rgb(219, 219, 141);
  font-size: 60px;
}

/* About */

.about-main{
  margin: 0px 20px;
}

.about-main p{
  line-height: 28px;
}

/* skills */

.lang h4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.skills-cont{
  margin: 0px 20px;
}


.prog-lang{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-block h3{
  font-size: 17px;
  font-weight: 400;
  background-image: linear-gradient(to left, #553c9a, #d2bee5);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.word{
  margin: 0px 10px;
}

.project-main{
  display: flex;
  flex-direction: row;
}

.center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}