@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
/* home allign  */

.home-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  background-color: #5cb68c;
  height: 100vh;
  background-image: url(../src/Components/Images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.info{
  background-color: #242323;
  color: white;
  width: 800px;
  height: 540px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@media screen and (max-width: 1000px){
  .info{
    width: 500px;
    margin: 10px;
  height: 800px;
  }
}

.gif{
  width: 270px;
  margin-right: 90px;
}

@media screen and (max-width: 1200px){
  .gif{
    display: none;
  }
}

.gif img{
  width: 120%;
  border-radius: 10px;
}

/* info box  */

.head{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media screen and (max-width:1000px) {
  .home{
    flex-direction: column;
    background-color: #553c9a;
  }
}

.head-pic img{
  width: 120px;
  margin-left: 10;
  align-items: flex-start;
}

.head-name{
  line-height: 10px;
  margin: 0px 30px;
}

.head-name h1{
  color: rgb(219, 219, 141);
  font-size: 60px;
}

@media screen and (max-width:1000px) {
  .head-name h1{
  color: rgb(219, 219, 141);
  font-size: 40px;
}
}
@media screen and (max-width:550px) {
  .head-name h1{
  color: rgb(219, 219, 141);
  font-size: 20px;
}
}



/* About */

.about-main{
  margin: 0px 20px;
}

.about-main p{
  line-height: 28px;
}

/* skills */

.lang h4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.skills-cont{
  margin: 0px 20px;
}


.prog-lang{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width:1000px) {
  .prog-lang{
    flex-direction: column;
  }
}

.skills-block h3{
  font-size: 17px;
  font-weight: 400;
  background-image: linear-gradient(to left, #553c9a, #d2bee5);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.word{
  margin: 0px 10px;
}

.project-main{
  display: flex;
  flex-direction: row;
}

.Project-Cont{
  background-color: #404040;
  padding: 5px;
  border-radius: 15px;
}

.Project-Card{
  background-color: #555555;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 15px;
}

@media screen and (max-width: 800px){
  .Project-Card{
    flex-direction: column;
  }
}

.Project-Card:hover{
  background-color: #6d6d6d;
  transition: 0.5s;
}

.Project-Card-Img img{
  width: 300px;
  border-radius: 10px;

}

.Project-Card-Img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Project-Card-Content{
  padding: 10px 20px;
}

.github-btn{
  background-color: #242323;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 5px;
}

.github-btn:hover{
  cursor: pointer;
}